/*
Inspired by http://dribbble.com/shots/917819-iPad-Calendar-Login?list=shots&sort=views&timeframe=ever&offset=461
*/

.sessions.new, .registrations.new {
	font-weight: 300;
    background: url(http://habrastorage.org/files/c9c/191/f22/c9c191f226c643eabcce6debfe76049d.jpg);
    .jumbotron {
        text-align: center;
        width: 40rem;
        border-radius: 0.5rem;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 9rem auto;
        background-color: rgba(255, 255, 255, 0.15);
        padding: 2rem;
    }
    .container .glyphicon-list-alt {
        font-size: 10rem;
        margin-top: 3rem;
        color: #f96145;
    }
    input {
        width: 100%;
        margin-bottom: 1.4rem;
        padding: 0.7rem;
        background-color: #ecf2f4;
        border-radius: 0.2rem;
        border: none;
    }
    h2 {
        margin-bottom: 3rem;
        font-weight: bold;
        color: #ababab;
    }
    // .btn {
    //     border-radius: 0.2rem;
    // }
    // .btn .glyphicon {
    //     font-size: 3rem;
    //     color: #fff;
    // }
    // .full-width {
    //     background-color: #8eb5e2;
    //     width: 100%;
    //     -webkit-border-top-right-radius: 0;
    //     -webkit-border-bottom-right-radius: 0;
    //     -moz-border-radius-topright: 0;
    //     -moz-border-radius-bottomright: 0;
    //     border-top-right-radius: 0;
    //     border-bottom-right-radius: 0;
    // }
    // .box {
    //     position: absolute;
    //     bottom: 0;
    //     left: 0;
    //     margin-bottom: 3rem;
    //     margin-left: 3rem;
    //     margin-right: 3rem;
    // }
}
.opaque{
	background: rgba(255,255,255,0.15);
	padding: 3em 0;
	margin-top:5%;
	width:40rem;
	text-align: center;
  border-radius: 0.5rem;
  button{
  	margin-top:2em;margin-bottom:1em;
  }


}

.raised{

      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}